# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment
.env
*.env

# VS Code settings
.vscode/

# System files
.DS_Store

# GCP-specific temp files
.gcloudignore

# Config files
venues.json
venues_bakeries.json
venues_groceries.json
test.json

# Snapshots
/tmp/
